#App {
  height: 80dvh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10dvh 10vw;
  gap: 5%;
}

#columns-control {
  align-self: center;
  display: flex;
  gap: 5px;
}
